.button button {
  margin: 0;
  min-width: auto;
  padding: 1rem;
}

.button button svg {
  height: 2rem;
  width: 2rem;
}

.table {
  border-radius: 0.8rem;
  overflow-x: auto;
}

.table table {
  border-collapse: collapse;
  font-size: 1.6rem;
  min-width: 64rem;
  width: 100%;
} 

.table th {
  background-color: var(--gray-600);
}

.table td {
  background-color: var(--gray-800);
}

.table th,
.table td {
  border-bottom: 0.2rem solid var(--gray-700);
  padding: 1.6rem;
  text-align: left;
}

