.container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 1.6rem;
}

.buttons button {
  margin: 0;
  min-width: auto;
}

.buttons svg {
  height: 1.6rem;
  width: 1.6rem;
}
